<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Trip Report' | translate}}</ion-title>
  </ion-navbar>

  <ion-item style="background-color: #fafafa;" *ngIf="portstemp.length != 0">
    <ion-label style="margin-top: 15px;">{{"Select Vehicle" | translate}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getTripdevice(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{"From Date" | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{"To Date" | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>
    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getTripReport();"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content [ngClass]="{ 'masters': portstemp.length != 0,'masters1': portstemp.length == 0 }">

  <ion-card *ngFor="let tripdata of TripReportData; let i = index" style="border-radius: 5px;" (click)="tripReview(tripdata)">
    <ion-item>
      <ion-label item-start>{{tripdata.Device_Name}}</ion-label>
      <ion-badge item-end color="gpsc">{{tripdata.distance | number : '1.0-2'}}{{"Kms" | translate}}</ion-badge>
    </ion-item>
    <ion-card-content>
      <ion-row>
        <ion-col col-8 padding-right>
          <ion-row style="height: 42px; overflow: hidden;text-overflow: ellipsis;">
            <ion-col col-1>
              <ion-icon name="pin" color="secondary" style="font-size: 15px;"></ion-icon>
            </ion-col>
            <ion-col (onCreate)="start_address(tripdata, i)" class="colSt2">
              <div class="overme">
                {{ tripdata.addres }}
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="height: 42px; overflow: hidden;text-overflow: ellipsis;">
            <ion-col col-1>
              <ion-icon name="pin" color="danger" style="font-size: 15px;"></ion-icon>
            </ion-col>
            <ion-col (onCreate)="end_address(tripdata, i)" class="colSt2">
              <div class="overme">
                {{ tripdata.address }}
              </div>
            </ion-col>
          </ion-row>

        </ion-col>
        <ion-col col-4>
          <ion-thumbnail item-end>
            <img src="assets/imgs/5Jzwb.png" height="70" width="70">
          </ion-thumbnail>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col col-8 padding-right>
          <ion-row>
              <ion-col style="font-size:1.2em;"><b>{{tripdata.Device_Name}}</b></ion-col>
          </ion-row>
          <ion-row style="height: 45px; overflow: hidden;text-overflow: ellipsis;">
            <ion-col col-2>
              <ion-icon name="pin" color="secondary" style="font-size: 25px;"></ion-icon>
            </ion-col>
            <ion-col col-10>
              <p>{{tripdata.startAddress}}</p>
            </ion-col>
          </ion-row>
          <ion-row style="height: 45px; overflow: hidden;text-overflow: ellipsis;">
            <ion-col col-2>
              <ion-icon name="pin" color="danger" style="font-size: 25px;"></ion-icon>
            </ion-col>
            <ion-col col-10>
              <p>{{tripdata.endAddress}}</p>
            </ion-col>
          </ion-row>

        </ion-col>
        <ion-col col-4>
          <ion-thumbnail item-end>
            <img src="assets/imgs/5Jzwb.png">
          </ion-thumbnail>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 10px;">
        <ion-col col-6 class="divS">
          <p style="padding: 0px; margin: 0px;" *ngIf="tripdata.distance">
            <span>DISTNACE </span>
            <b>{{tripdata.distance | number : '1.0-2'}}KM</b>
          </p>
          <p style="padding: 0px; margin: 0px;" *ngIf="!tripdata.distance">
            <span>DISTNACE </span><b>0KM</b></p>
        </ion-col>
        <ion-col col-6 class="divS">
          <p *ngIf="tripdata.duration">
            <span>DURATION </span>
            <b>{{tripdata.duration}}</b>
          </p>
          <p *ngIf="!tripdata.duration">
            <span>DURATION </span><b>0hrs 0mins</b></p>
        </ion-col>
      </ion-row> -->
    </ion-card-content>
    <!-- <ion-row style="background-color:#f2f2f2; padding-top:5px; padding-bottom: 5px" padding-left padding-right>
      <p style="font-size:0.85em; color:gray; font-weight: bold">{{tripdata.Startdate}}</p>
    </ion-row> -->
    <ion-row style="background-color:#f2f2f2; padding-top:5px; padding-bottom: 5px" padding-left padding-right>
      <ion-col col-6 style=" color:gray; font-weight: bold; text-align: left;">{{tripdata.Startdate}}</ion-col>
      <ion-col col-6 style=" color:gray; font-weight: bold; text-align: right;" *ngIf="tripdata.duration">
        DURATION&nbsp;{{tripdata.duration}}</ion-col>
      <ion-col col-6 style=" color:gray; font-weight: bold; text-align: right;" *ngIf="!tripdata.duration">
        DURATION&nbsp;0hrs 0mins</ion-col>
    </ion-row>
  </ion-card>

</ion-content>
