<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div style="font-size:15px; text-align: center;">{{'Dashboard' | translate}}</div>
      <div style="font-size:12px; text-align: center;">{{'Welcome' | translate}}, {{islogin.fn}}&nbsp;{{islogin.ln}}!
      </div>
    </ion-title>
    <ion-buttons end>
      <button id="cart-btn" ion-button icon-only (click)="seeNotifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge id="cart-badge">{{cartCount}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="false">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'Pull to refresh' | translate}}"
      refreshingSpinner="circles" refreshingText="{{'Refreshing...' | translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-slides pager>
    <ion-slide>
      <!-- <ion-card> -->
      <!-- <ion-card-title style="font-size: 1em;">Vehicle Current Status</ion-card-title> -->
      <!-- <ion-card-content> -->
      <div id="chart" class="chart">
        <div class="text1" #text1></div>
        <canvas #doughnutCanvas height="250" width="250"></canvas>
        <!-- <div class="text1" #text1></div> -->
        <!-- <div class="chart-text" id="text1"></div> -->
      </div>
      <!-- <div padding>
        <canvas #doughnutCanvas height="250" width="250"></canvas>
      </div> -->

      <!-- </ion-card-content> -->
      <!-- </ion-card> -->
    </ion-slide>
    <ion-slide>
      <!-- <ion-card>
            <ion-card-content> -->
      <div padding>
        <canvas #barCanvas height="300" width="300"></canvas>
      </div>
      <!-- </ion-card-content>
          </ion-card> -->
    </ion-slide>
    <ion-slide>
      <div padding>
        <canvas #doughnutCanvas1 height="250" width="250"></canvas>
      </div>

    </ion-slide>
  </ion-slides>
  <!-- <ion-card>
    <ion-card-content>
      <canvas #doughnutCanvas height="300" width="300"></canvas>
    </ion-card-content>
  </ion-card> -->
  <!-- <ion-card>
    <ion-card-content class="cardSt"> -->
  <ion-row style="padding-left: 15px; padding-right: 15px;">
    <ion-col width-50 (tap)="live()" style="border-right: 1px solid #d80622; border-bottom: 1px solid #f53d3d;">
      <div class="divS">
        <ion-icon class="iconS" name="pin" color="gpsc"></ion-icon>
        <br /> {{'LIVE TRACKING' | translate}}
      </div>
    </ion-col>

    <ion-col width-50 (tap)="vehiclelist()" style="border-bottom: 1px solid #d80622">
      <div class="divS">
        <ion-icon class="iconS" name="car" color="gpsc"></ion-icon>
        <!-- <img src="assets/imgs/vehicle.png"/> -->
        <br /> {{'VEHICLES' | translate}}
      </div>
    </ion-col>
  </ion-row>

  <ion-row style="padding-left: 15px; padding-right: 15px;">
    <ion-col width-50 (tap)="historyDevice()" style="border-right: 1px solid #d80622;">

      <div class="divS">
        <!-- <img src="assets/imgs/history.png"/> -->
        <ion-icon class="iconS" name="time" color="gpsc"></ion-icon>
        <br /> {{'History' | translate}}
      </div>
    </ion-col>
    <ion-col width-50 (tap)="geofence()" class="colStyl">
      <div class="divS">
        <!-- <img src="assets/imgs/geo.png" /> -->
        <ion-icon class="iconS" name="disc" color="gpsc"></ion-icon>
        <br /> {{'GEOFENCE' | translate}}
      </div>
    </ion-col>
  </ion-row>
  <!-- </ion-card-content>
  </ion-card> -->

</ion-content>